<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms</title>
    <style>
        body{
       background-image:url('./assets/allimages/img12.jpg');
       background-position: center center;
       background-repeat:no no-repeat;
       background-size: cover;
       background-attachment: fixed;
       font-size: 16px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       height: 300vh;
    }
      </style>
</head>
<body>
    <!-- symptoms section starts  -->

<section class="symptoms" id="symptoms">

    <h1 class="heading">Covid-19 Symptoms</h1>

    <div class="column">

        <div class="main-image">
            <img src="./assets/allimages/img14.jpg" alt="no img">
        </div>

        <div class="box-container">

            <div class="box">
                <img src="./assets/allimages/img15.jpg" alt="no img">
                <h3 class="text-success">Dry cough</h3>
            </div>

            <div class="box">
                <img src="./assets/allimages/img16.jpg" alt="no img">
                <h3>Sore throat</h3>
            </div>

            <div class="box">
                <img src="./assets/allimages/img17.jpg" alt="no img">
                <h3 class="text-secondary">Cold</h3>
            </div>

            <div class="box">
                <img src="./assets/allimages/img18.jpg" alt="no img">
                <h3 class="text-warning">Fever</h3>
            </div>

            <div class="box">
                <img src="./assets/allimages/img19.jpg" alt="no img">
                <h3 class="text-success">Headache</h3>
            </div>

            <div class="box">
                <img src="./assets/allimages/img20.jpg" alt="no img">
                <h3 class="text-danger">Vomiting</h3>
            </div>

        </div>

    </div>

</section>

<!-- symptoms section ends -->
<router-outlet></router-outlet>

</body>
</html>



