<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthtopics</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <style>
        body{
       background-image:url('./assets/allimages/img12.jpg');
       background-position: center center;
       background-repeat:no no-repeat;
       background-size: cover;
       background-attachment: fixed;
       font-size: 16px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       height: 300vh;
    }
      </style>
</head>
<body>
   <!-- doctor section start  -->

<section class="doctor" id="doctor">

    <h1 class="heading">CONSULT TO OUR DOCTORS</h1>

    <div class="box-container">

        <div class="box">
            <img src="./assets/allimages/img21.jpg" alt="no img">
            <h3>John doe</h3>
            <span>senior expert</span>
            <div class="share">
                <a routerLink="#" class="fab fa-whatsapp"></a>
                <a routerLink="#" class="fab fa-facebook-f"></a>
                <a routerLink="#" class="fab fa-twitter"></a>
                <a routerLink="#" class="fab fa-instagram"></a>
                <a routerLink="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/allimages/img22.jpg" alt="">
            <h3>Helena</h3>
            <span>senior expert</span>
            <div class="share">
                <a routerLink="#" class="fab fa-whatsapp"></a>
                <a routerLink="#" class="fab fa-facebook-f"></a>
                <a routerLink="#" class="fab fa-twitter"></a>
                <a routerLink="#" class="fab fa-instagram"></a>
                <a routerLink="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/allimages/img23.jpg" alt="">
            <h3>Olivia</h3>
            <span>senior expert</span>
            <div class="share">
                <a routerLink="#" class="fab fa-whatsapp"></a>
                <a routerLink="#" class="fab fa-facebook-f"></a>
                <a routerLink="#" class="fab fa-twitter"></a>
                <a routerLink="#" class="fab fa-instagram"></a>
                <a routerLink="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

</section>

<!-- doctor section ends --> 
</body>
</html>

