.doctor .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doctor .box-container .box{
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem;
    margin:1.5rem;
    text-align: center;
    background:whitesmoke;
    border:.1rem solid rgba(0,0,0,.1);
    width:25rem;
}

.doctor .box-container .box img{
    margin:1rem;
    border-radius: 50%;
    height:10rem;
    width:20rem;
    object-fit:fill;
    background:var(--blue);
}

.doctor .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}

.doctor .box-container .box span{
    font-size: 1.5rem;
    color:var(--dark-blue);
}

.doctor .box-container .box .share{
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:1rem;
    margin-top: 1rem;
}

.doctor .box-container .box .share a{
    border-radius: 20%;
    height: 6rem;
    width:5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    margin: .4rem;
    background:skyblue;
    color:var(--blue);
}

.doctor .box-container .box .share a:hover{
    background:var(--blue);
    color:white;
    transform: rotate(360deg);
}

