<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronacauses</title>
    <style>
        body{
       background-image:url('./assets/allimages/img12.jpg');
       background-position: center center;
       background-repeat:no no-repeat;
       background-size: cover;
       background-attachment: fixed;
       font-size: 16px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       height: 300vh;
    }
      </style>
</head>
<body>
    <h2 style="font-size:50px;" class="text-primary">Corona Causes</h2>
    <div class="ul">
    <li style="font-size:20px;"  class="text-success">Infection with the new coronavirus (severe acute respiratory syndrome coronavirus 2, or SARS-CoV-2) causes coronavirus disease 2019 (COVID-19).</li>
    <li style="font-size:20px;"  class="text-success">The virus that causes COVID-19 spreads easily among people, and more continues to be discovered over time about how it spreads. Data has shown that it spreads mainly from person to person among those in close contact (within about 6 feet, or 2 meters). The virus spreads by respiratory droplets released when someone with the virus coughs, sneezes, breathes, sings or talks. These droplets can be inhaled or land in the mouth, nose or eyes of a person nearby.</li>
    <li style="font-size:20px;"  class="text-success">In some situations, the COVID-19 virus can spread by a person being exposed to small droplets or aerosols that stay in the air for several minutes or hours — called airborne transmission. It's not yet known how common it is for the virus to spread this way.</li>
    <li style="font-size:20px;"  class="text-success">It can also spread if a person touches a surface or object with the virus on it and then touches his or her mouth, nose or eyes, but the risk is low.</li>
    <li style="font-size:20px;"  class="text-success">Some reinfections of the virus that causes COVID-19 have happened, but these have been uncommon.</li>
    </div>
    <h3 class="text-info">Risk factors:</h3>
    <p style="font-size:20px;">Risk factors for COVID-19 appear to include:</p>
    
    <div class="ul">
        <li style="font-size:20px;" class="text-success">Close contact (within 6 feet, or 2 meters) with someone who has COVID-19</li>
        <li style="font-size:20px;" class="text-success">Being coughed or sneezed on by an infected person</li>    
    </div>
    <h3 class="text-info">Complications:</h3>
    <p style="font-size:20px;">Although most people with COVID-19 have mild to moderate symptoms, the disease can cause severe medical complications and lead to death in some people. Older adults or people with existing medical conditions are at greater risk of becoming seriously ill with COVID-19.</p>
    <h4 class="text-info">Complications can include:</h4>
    <div class="ul">
        <li style="font-size:20px;" class="text-success">Pneumonia and trouble breathing</li>
        <li style="font-size:20px;" class="text-success">Organ failure in several organs</li>
        <li style="font-size:20px;" class="text-success">Heart problems</li>
        <li style="font-size:20px;" class="text-success">A severe lung condition that causes a low amount of oxygen to go through your bloodstream to your organs (acute respiratory distress syndrome)</li>
        <li style="font-size:20px;" class="text-success">Blood clots</li>
        <li style="font-size:20px;" class="text-success">Acute kidney injury</li>
        <li style="font-size:20px;" class="text-success">Additional viral and bacterial infections</li>
    </div>  
</body>
</html>



