h1{
    top:58%;
    left: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    outline:none;
    border-color:rgb(14, 14, 15);
    border-radius: 6px;
    border-width: 3px;   
}
.wrapper{
    position: absolute;
    top: 40%;
    left: 30%;
    /* transform: translate(-50%,-50%); */
    max-width: 100%;
    background-color:rgba(70, 131, 180, 0.425);
    box-shadow:darkmagenta;
    padding: 100px;
    border-radius:50px ;    
}
label{
    color:black;
    font-size: larger;
}
h2{
    color:black;
    text-align: center;
}
