<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav bar</title>
  <style>
    body{
   background-image:url('./assets/allimages/img12.jpg');
   background-position: center center;
   background-repeat:no no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 300vh;
}
  </style>
</head>
<body>
  <h1 class="text-center bg-primary">C<span><img src="./assets/allimages/img1.jpg" alt="no img" width="60px" height="40px"></span>VID-19</h1>
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-tabs">
  <!-- Corona/logo -->
  <a class="navbar-brand" routerLink="#">
    <img src="./assets/allimages/img3.jpg"  class="rounded-circle"  alt="logo" style="width:60px;"  style="height: 60px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/about">About</a>
    </li>
   
     <!-- Dropdown -->
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" routerLink="/symptoms" id="navbardrop" data-toggle="dropdown">
        Symptoms
      </a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" routerLink="/symptoms/coronacauses">CoronaCauses</a>
        <a class="dropdown-item" routerLink="/symptoms/consultdoctors">ConsultDoctors</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/precaution">Precautions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/images">Images</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/contactus">Contactus</a>
    </li>
    <div class="right">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/signup">Signup</a>
    </li>
  </div>
  </ul>
</nav>  
<router-outlet></router-outlet>
</body>
<div>
  <app-footer></app-footer>
</div>

</html>


