<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prevention</title>
    <style>
        body{
       background-image:url('./assets/allimages/img12.jpg');
       background-position: center center;
       background-repeat:no no-repeat;
       background-size: cover;
       background-attachment: fixed;
       font-size: 16px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       height: 300vh;
    }
      </style>
</head>
<body>
    <h2 style="font-size:60px" class="text-primary">To prevent the spread of COVID-19:</h2>
<ul>
    <li style="font-size:30px">Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
    <li style="font-size:30px">Maintain a safe distance from anyone who is coughing or sneezing.</li>
    <li style="font-size:30px">Wear a mask when physical distancing is not possible.</li>
    <li style="font-size:30px">Don’t touch your eyes, nose or mouth.</li>
    <li style="font-size:30px">Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
    <li style="font-size:30px">Stay home if you feel unwell.</li>
    <li style="font-size:30px">If you have a fever, cough and difficulty breathing, seek medical attention.</li>
  </ul>
  
  <section class="home" id="home">
    <div class="content">
        <h1>Precautions of Corona Virus</h1>
        <h3><span><img src="./assets/allimages/mask.jpg" alt="no img" width="50px" height="50px"></span>stay home, stay safe<span><img src="./assets/allimages/sanitizer.jpg" alt="no img" width="50px" height="50px"></span></h3>
    </div>
</section>
<br><br>

<section class="prevent" id="prevent">

  <h1 class="heading" style="font-size:50px"> How to prevent coronavirus: </h1>

  <div class="box-container">

      <div class="box">
          <img src="./assets/allimages/img24.jpg" alt="no img" style="width:100px;height: 90px;" >
          <h3>wash your place</h3>
          <p>Wash your surrounding daily with detol.</p>
      </div>

      <div class="box">
          <img src="./assets/allimages/img25.jpg" alt="no img" style="width:150px;height: 90px;">
          <h3>maintain distance</h3>
          <p>Maintain a safe distance from anyone who is coughing or sneezing.</p>
      </div>

      <div class="box">
          <img src="./assets/allimages/img26.jpg" alt="no img" style="width:150px;height: 90px;">
          <h3>don't touch face</h3>
          <p>Don’t touch your eyes, nose or mouth.</p>
      </div>

      <div class="box">
          <img src="./assets/allimages/img27.jpg" alt="no img" style="width:140px;height: 90px;">
          <h3>wash your hand</h3>
          <p>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</p>
      </div>

      <div class="box">
          <img src="./assets/allimages/img28.jpg" alt="no img" style="width:160px;"  style="height: 90px;">
          <h3>use napkin</h3>
          <p>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</p>
      </div>

      <div class="box">
          <img src="./assets/allimages/img29.jpg" alt="no img" style="width:180px;"  style="height: 100px;">
          <h3>wear a mask</h3>
          <p>Wear a mask when physical distancing is not possible.</p>
      </div>

  </div>

</section>

</body>
</html>


