<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
       background-image:url('./assets/allimages/img12.jpg');
       background-position: center center;
       background-repeat:no no-repeat;
       background-size: cover;
       background-attachment: fixed;
       font-size: 16px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       height: 300vh;
    }
      </style>
</head>
<body>
    <section class="contact">
        <div class="content">
            <h2 style="font-size:50px;">Contact Us</h2>
        </div>
    
    
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>3-199 Mallapur<br>Ranga Reddy,Hyderabad<br>Pin: 500005</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>9977886655</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>swathi@temporary-mail.net</p>
                </div>
            </div>
            </div>
    <div class="contactform">
        <form>
            <h2>Send Message</h2>
            <div class="inputBox">
                <input type="text" name="" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputBox">
                <input type="text" name="" required="required">
                <span>Email</span>
            </div>
            <div class="inputBox">
               <textarea required="required"></textarea>
                <span>Type your Message....</span>
            </div>
            <div class="inputBox">
                <input class="btn btn-primary" type="submit" name="" value="send">
             </div>
        </form>
    </div>
    </div>
    </section>
</body>
</html>








