<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Images</title>
  <style>
    body{
   background-image:url('./assets/allimages/img12.jpg');
   background-position: center center;
   background-repeat:no no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 300vh;
}
  </style>
</head>
<body>
  <h3 style="font-size:70px;" class="text-primary text-center">Image Gallery</h3>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/allimages/img24.jpg" alt="no img" width="1000" height="600">
      </div>
      <div class="carousel-item">
        <img src="./assets/allimages/img3.jpg" alt="no img" width="1000" height="600">
      </div>
      <div class="carousel-item">
        <img src="./assets/allimages/img4.jpg" alt="no img" width="1000" height="600">
      </div>
      <div class="carousel-item">
        <img src="./assets/allimages/img11.jpg" alt="no img" width="1000" height="600">
      </div>
      <div class="carousel-item">
        <img src="./assets/allimages/img15.jpg" alt="no img" width="1000" height="600">
      </div>
      <div class="carousel-item">
        <img src="./assets/allimages/img13.jpg" alt="no img" width="1000" height="600">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <br><br>
 
  <div class="row">
    <div class="col-sm-4"> <img src="./assets/allimages/gif1.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif2.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif3.jpg" alt="no img" width="300" height="200"></div>
  </div>
<br><br><br>
  <div class="row">
    <div class="col-sm-4"> <img src="./assets/allimages/gif4.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif5.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif6.jpg" alt="no img" width="300" height="200"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> <img src="./assets/allimages/gif7.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif8.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif9.jpg" alt="no img" width="300" height="200"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> <img src="./assets/allimages/gif10.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif11.jpg" alt="no img" width="300" height="200"></div>
    <div class="col-sm-4"> <img src="./assets/allimages/gif12.jpg" alt="no img" width="300" height="200"></div>
  </div>
</body>
</html>

