<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body{
   background-image:url('./assets/allimages/img12.jpg');
   background-position: center center;
   background-repeat:no no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 300vh;
}
  </style>
</head>
<body>
  <h2 style="font-size:60px;">Coronavirus Diseases Pandemic</h2>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 ">
        <img src="./assets/allimages/img11.jpg" class="rounded"alt="no img" width="400px" height="400px">
      </div>
      <div class="col-sm-6 ">
        <p style="font-size:50px;">Let's Stay Safe & Fight Together Against Cor<span><img src="./assets/allimages/img1.jpg" alt="no img" width="50px" height="50px"></span>na Virus.</p>
      </div>
    </div>
  </div>
<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <img src="./assets/allimages/img4.jpg" alt="no img" style="float:left;" width="400px" height="500px">
    </div>
    <div class="col-sm-6 ">
<h1 style="font-size:50px;">Overview</h1>
<p style="font-size:20px;">Coronaviruses are a family of viruses that can cause illnesses such as the common cold, severe acute respiratory syndrome (SARS) and Middle East respiratory syndrome (MERS). In 2019, a new coronavirus was identified as the cause of a disease outbreak that originated in China.</p>
<p style="font-size:20px;">The virus is now known as the severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease it causes is called coronavirus disease 2019 (COVID-19). In March 2020, the World Health Organization (WHO) declared the COVID-19 outbreak a pandemic.</p>
<p style="font-size:20px;">Public health groups, including the U.S. Centers for Disease Control and Prevention (CDC) and WHO, are monitoring the pandemic and posting updates on their websites. These groups have also issued recommendations for preventing and treating the illness.</p>
</div>
</div>
</div>
<br>
<br>

<marquee style="font-size:70px;" behavior="alternate" direction="right">CORONA SITUATION IN INDIA</marquee>

<marquee behavior="alternate" direction="left" bgcolor="white">
  <img src="./assets/allimages/img5.jpg" alt="no img" alt="no img" width="100" height="200" border='3'>
  <img src="./assets/allimages/img6.jpg" alt="no img" alt="no img" width="100" height="200" border='3'>
  <img src="./assets/allimages/img7.jpg" alt="no img" alt="no img" width="100" height="200" border='3'>
  <img src="./assets/allimages/img8.jpg" alt="no img" alt="no img" width="100" height="200" border='3'>
  <img src="./assets/allimages/img9.jpg" alt="no img" alt="no img" width="100" height="200" border='3'>
  <img src="./assets/allimages/img10.jpg" alt="no img" alt="no img" width="100" height="200" border='3'>
</marquee>
<br>
<br>
<br>
 <section  class ="corona_updates">
   <div class="mb-3">
     <h3 class="text-uppercase text-center">covid-19 updates</h3>
   </div>
   <div class="d-flex justify-content-around align-items-center">
     <div>
       <h1 class="count">1,532,266</h1>
       <p>Passengers screened at airport</p>
     </div>

     <div>
      <h1 class="count">512</h1>
      <p>Active covid-19 cases</p>
    </div>

     <div>
       <h1 class="count">40</h1>
       <p>Cured/discharged cases</p>
     </div>

     <div>
       <h1 class="count">9</h1>
       <p>Death cases</p>
     </div>
   </div>
 </section>
</body>
</html>


